

/* Style général */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #869c81;
    margin: 0;
    padding: 0;
    color: white;
}

/* En-tête */
header {
    background: linear-gradient(90deg, #e0cda9, #e0cda9);
    padding: 50px;
    text-align: center;
    color: #445141; /*texte */
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

/* Menu */
nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    margin: 0 50px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2.5rem; /*taille du texe*/
}

nav a:hover {
    color: #e0cda9;
}

/* Contenu */
.container {
    font-size: 1.2rem;
    text-align: center;
    width: 90%;
    max-width: 900px;
    margin: auto;
}

/* Carte recette */
.recette {
    background: white;
    padding: 20px;
    margin: 25px 0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.2s ease;
}

.recette:hover {
    transform: scale(1.01);
}

.recette h2 {
    color: #ff9800;
    margin-top: 0;
}

.recette ul, .recette ol {
    margin-left: 20px;
}


.photo-recette {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}




/* IMAGE DES PAGES ENTREE , PLATS , DESSERTS */

.catalogue {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
}

.carte {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.carte:hover {
    transform: scale(1.03);
}

.carte img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.carte h3 {
    padding: 15px;
    margin: 0;
    font-size: 1.2rem;
    color: #ff9800;
}



/* IMAGES PAGE D ACCUEIL */ 
.catalogue-large {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 95%;
    max-width: 1100px;
    margin: 40px auto;
}

/* Carte sans fond blanc */
.carte-large {
    display: flex;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
}

/* Image carrée et plus grande */
.carte-large img {
    width: 500px; /* taille de l'image */
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
    flex-shrink: 0;
}

/* Texte à droite ou à gauche */
.carte-large h3 {
    font-size: 2rem;
    margin: 0;
    margin-left: 20px; /* espace quand l’image est à gauche */
    margin-right: 20px; /* espace quand l’image est à droite */
    color: white;
}

/* Variante inversée : image à droite */
.carte-large.inverse {
    flex-direction: row-reverse;
}
